body {
    background: #111;
    font-family: sans-serif;
    direction: rtl;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.product {
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
}

.price {
    color: #00ffcc;
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: #0099ff;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
}